<title><%= content_for(:title) ? "#{content_for(:title)} - Remost" : "ReMost | Your trips" %></title>

<div class="container">
  <h1 class="mt-5 mb-5">My trips</h1>

  <div class="row">

      <% @current_user.trips.each do |t| %>

        <div class="col-lg-6">

          <div class="trip-card">

            <%= cl_image_tag t.city.photo.key %>

            <div class="trip-card-infos">
              <h2>Trip to <strong><%= t.city.name %></strong></h2>
              <p>From <%= t.start_date %> to <%= t.end_date %></p>
              <hr>
              <p><%= t.location %></p>
              <h3><%= t.city.name %> tips you saved:</h3>
                <% t.city.tips.take(3).each do |tip| %>
              <p class="trip-card-infos-tip">By <strong><%= tip.user.first_name %></strong> ● <em><strong><%= tip.name %></em></strong> ● <em><%= tip.content %></em></p>
              <% end %>
              <br>
              <p><%= link_to "See all tips", city_path(t.city, date: t.start_date), class: "btn btn-outline-dark" %>
            </div>

          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>
