<title><%= content_for(:title) ? "#{content_for(:title)} - remost" : "remost | Your trips" %></title>

<div class="container">
  <h1 class="mt-5 mb-5">My trips</h1>

  <div class="row">

      <% @current_user.trips.each do |t| %>

        <div class="col-lg-12">

          <div class="trip-card">

            <%= cl_image_tag t.city.photo.key, class: "city-picture" %>

            <div class="trip-card-infos">
              <h2>Trip to <span class="city-names-in-cards"><%= link_to t.city.name, city_path(t.city.id) %></span></h2>
              <p>
                <span class="dates">From <%= t.start_date.to_formatted_s(:short) %> to <%= t.end_date.to_formatted_s(:short) %></span>
                <%= link_to trip_path(t.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this trip?"}, class: "icon-bin-delete" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
                <%= link_to edit_trip_path(t.id), class: "icon-pen-edit" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
              </p>
              <hr>
              <div class="d-flex">
                <div class="recommendations mb-4">
                  <h3>Saved recommendations:</h3>
                    <% @user_tips.to_a.select { |b| b.tip.city == t.city }.first(3).each do |bookmark| %>
                  <p class="trip-card-infos-tip">By <strong><%= bookmark.tip.user.first_name %></strong> ● <em><strong><%= bookmark.tip.name %></em></strong> ● <em><%= bookmark.tip.content %></em></p>
                  <% end %>
                </div>
                <div class="people">
                  <h3 class="mb-4">They will be in <%= t.city.name %> too:</h3>
                  <% @teammates.to_a.select { |teammate| teammate.current_city(t.start_date) == t.city && teammate != current_user}.each do |user| %>
                  <%= link_to(user_path(user)) do %>
                  <%= cl_image_tag user.photo.key, class: "avatar-trips" %>
                  <% end %>
                  <% end %>
                </div>
              </div>
              <p><%= link_to "See all recommendations", bookmarked_places_path, class: "btn btn-outline-dark" %>
              <p><%= link_to "See saved local places", bookmarked_places_path(city: t.city.name), class: "btn btn-outline-dark" %>
            </div>

          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>
