<% @trips.each do |i| %>
  <div class="col-sm-12 col-md-6 col-lg-4">
  <div class="trip-card">
        <%# <%= cl_image_tag city.photo.key %>Background Photo to be added
    <div class="trip-card-infos">
      <div class="card-text">
        <h2><%= "My trip to #{city.name}" %></h2>
        <p class="mb-2"><%= "From #{trip.start_date} to #{trip.end_date}" %></p>
      </div>
    </div>

    <div class= "d-flex">
      <div class="favourite-card">
        <h2>People</h2>
        <% @bookmarked_user.trip.user[0..3] each do |i| %>
        <ul>Name: <%=@bookmarked_user.trip.user.first_name @bookmarked_user.trip.user.last_name%></ul>
        <ul>Email: <%=@bookmarked_user.trip.user.email%></ul>
        <ul>Department: <%=@bookmarked_user.trip.user.department%></ul>
        <ul>Activities: <%=@bookmarked_user.trip.user.open_to%></ul>
        <ul>Languages: <%=@bookmarked_user.trip.user.languages%></ul>
        <% end %>
      </div>

      <div class="favourite-card">
        <h2>Tips</h2>
        <% bookmarked_place.tip[0..3] each do |i| %>
        <ul>Name: <%=@bookmarked_place.tip.name%></ul>
        <ul>Location: <%=@bookmarked_place.tip.location%></ul>
        <ul>Category: <%=@bookmarked_place.tip.category%></ul>
        <ul>Rating: <%=@bookmarked_place.tip.rating%></ul>
        <ul>Content: <%=@bookmarked_place.tip.content%></ul>
        <% end %>
      </div>
    </div>

  </div>
  </div>
<% end %>
