<title><%= content_for(:title) ? "#{content_for(:title)} - remost" : "remost | Your trips" %></title>

<div class="container">
  <h1 class="mt-5 mb-5">My trips</h1>

  <div class="row">

      <% @current_user.trips.each do |t| %>

        <div class="col-lg-12">

          <div class="trip-card">

            <%= cl_image_tag t.city.photo.key, class: "city-picture" %>

            <div class="trip-card-infos col-lg-6">

              <div class="container">
                <h2>Trip to <span class="trip-card-city-name"><%= link_to t.city.name.split(",").first, city_path(t.city.id) %><%= render 'flags', trip: t %></span></h2>
                <p>
                  <span class="dates">From <%= t.start_date.to_formatted_s(:short) %> to <%= t.end_date.to_formatted_s(:short) %></span>
                  <%= link_to trip_path(t.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this trip?"}, class: "icon-bin-delete" do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                  <%= link_to edit_trip_path(t.id), class: "icon-pen-edit" do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                </p>
                <hr>
                <div class="mb-4">
                  <h3>Saved recommendations:</h3>
                    <% @user_tips.to_a.select { |b| b.tip.city == t.city }.first(3).each do |bookmark| %>
                  <p class="trip-card-tips-text">By <strong><%= link_to bookmark.tip.user.first_name, user_path(bookmark.tip.user), class: "tip-author-name" %></strong> ● <strong><%= bookmark.tip.category[0] %> <em><%= bookmark.tip.name %></em></strong> ● <em><%= bookmark.tip.content %></em></p>
                  <% end %>
                </div>
              <div class="trip-card-infos-buttons">
                <p><%= link_to "All recommendations", bookmarked_places_path(anchor: t.city.name), class: "btn btn-outline-dark" %> <%= link_to "Saved local places", bookmarked_places_path(city: t.city.name), class: "btn btn-outline-dark" %></p>
              </div>
              </div>

            </div>

            <div class="trip-card-people">
              <div class="people">
                  <p class="mb-2">Locals <i class="fa-solid fa-house-chimney"></i></p>
                  <% @teammates.to_a.select { |teammate| teammate.current_city(t.start_date) == t.city && teammate.city == t.city && teammate != current_user }.first(10).each do |user| %>
                    <%= link_to(user_path(user)) do %>
                      <%= cl_image_tag user.photo.key, class: "avatar-trips" %>
                    <% end %>
                  <% end %>
                  <p class="mb-2 mt-4">Travelling <i class="fa-solid fa-suitcase"></i></p>
                  <% @teammates.to_a.select { |teammate| teammate.city != t.city && teammate.current_city(t.start_date) == t.city && teammate != current_user }.first(5).each do |user| %>
                    <%= link_to(user_path(user)) do %>
                      <%= cl_image_tag user.photo.key, class: "avatar-trips" %>
                    <% end %>
                  <% end %>
                  <div class="trip-card-people-button">
                    <%= link_to "Full list", users_path(date: t.start_date, city: t.city.name), class: "btn btn-outline-dark" %>
                  </div>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>
