<div class="container">
  <div class="container trip-form-card">
    <div class="row">

    <div class="trip-form-card-left">
      <h1>Add an upcoming trip</h1>
      <%= simple_form_for @trip do |f| %>
      <%= f.input :destination,
                  required: true,
                  input_html: {data: {city_autocomplete_target: "address"}, class: "d-none"},
                  wrapper_html: {data: {controller: "city-autocomplete", city_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}, class: "form-control" %>
      <div data-controller="end-date">
        <%= f.input :start_date, as: :date, html5: true, input_html: {"data-action": "change->end-date#setEndDate", "data-end-date-target": "start" } %>
        <%= f.input :end_date, as: :date, html5: true, input_html: {"data-end-date-target": "end" } %>
      </div>
      <%= f.button :submit, value: "Add trip", class: "btn btn-dark" %>
      <% end %>
    </div>

    <div class="trip-form-card-right">
    </div>
  </div>
</div>
