<div class="devise-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-5">
        <div class="form-signup new-user">
          <h2 class="mt-5 mb-4 text-center">Edit my profile</h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, readonly: true, autofocus: true %>

                <%# <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <%# <p>Currently waiting confirmation for: <%= resource.unconfirmed_email</p> %>
                <%# <% end %>

                <%= f.input :password,
                            hint: "Leave it blank if you don't want to change it.",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :current_password,
                            hint: "We need your current password to confirm your changes.",
                            required: true,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :first_name,
                            required: true,
                            input_html: { autocomplete: "first name" } %>
                <%= f.input :last_name,
                            required: true,
                            input_html: { autocomplete: "last name" } %>
                <%= f.input :photo,
                            as: :file,
                            required: true,
                            hint: "Leave it blank if you don't want to change it.",
                            input_html: { autocomplete: "photo" } %>
                <%= f.input :location,
                            required: true,
                            input_html: {data: {city_autocomplete_target: "address"}, class: "d-none"},
                            wrapper_html: {data: {controller: "city-autocomplete", city_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}, class: "form-control" %>
                <%= f.input :department,
                            required: true,
                            collection: ["Administrative", "Community & Advocacy", "Customer Success & Support", "Data Science", "Engineering", "Finance & Accounting", "HR & Talent", "IT", "Legal", "Marketing & Comms", "Operations", "Other", "Product & Design", "Sales & Growth"],
                            input_html: { autocomplete: "department" } %>
                <%= f.input :job_title,
                            required: true,
                            input_html: { autocomplete: "job_title" } %>
                <%= f.input :open_to, as: :check_boxes, collection: ["ðŸ’» Working together or side-by-side", "ðŸ’¡ Brainstorming", "ðŸ¥ Breakfast", "ðŸ’¬ Casual chat", "â˜• Coffee", "ðŸ» Drinks", "ðŸ² Lunch & Dinner", "ðŸ¤ Networking at events", "ðŸª‚ Weekend Activity", "ðŸƒ Sports"],
                            include_hidden: false,
                            input_html: { class: "tag-selector" },
                            item_wrapper_class: 'tag-item' %>
                <%= f.input :slack_user,
                            required: true,
                            input_html: { autocomplete: "slack user" } %>
                <%= link_to "https://slack.com/intl/en-gb/help/articles/360003827751-Create-a-link-to-a-members-profile-", target: :_blank, class: "info-support" do %>
                  <p class="support">Here is how to find it.</p>
                <% end %>
                <%= f.input :linkedin,
                            required: false,
                            input_html: { autocomplete: "linkedin" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Update", class: "btn-pink mt-3" %>
              </div>
            <% end %>

          <div class="cancel">
            <h3>Cancel my account</h3>
            <p>Unhappy? <%= link_to "Cancel my account", user_registration_path(resource), method: :delete, data: { confirm: "Are you sure?" }, class: "info-support", alert: "Your profile has been deleted." %></p>
          </div>

          <%= link_to "Back to profile", :back, class: "btn-outline mb-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
