<div class="devise-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-5">
        <div class="form-signup new-user">
          <h2 class="mt-5 mb-4 text-center">Edit my profile</h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { method: :put }) do |f| %>
              <%= f.error_notification %>
              <div class="form-inputs">

                <%= f.input :email, required: true, readonly: true, autofocus: true, hint: "To change your email please contact your workspace admin." %>

                <%# <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <%# <p>Currently waiting confirmation for: <%= resource.unconfirmed_email</p> %>
                <%# <% end %>
                <div data-controller="hidden-field">
                  <button class="password-btn" data-action="click->hidden-field#display"><i class="fa-solid fa-key"></i>Change password?</button>

                  <div class="hidden-field-fields d-none" data-hidden-field-target="field">

                    <%= f.input :password,
                                hint: "Leave it blank if you don't want to change it.",
                                required: false,
                                input_html: { autocomplete: "new-password" } %>
                    <%= f.input :password_confirmation,
                                required: false,
                                input_html: { autocomplete: "new-password" } %>
                    <%= f.input :current_password,
                                hint: "We need your current password to confirm your changes.",
                                required: true,
                                input_html: { autocomplete: "current-password" } %>
                  </div>
                </div>
                <%= f.input :first_name,
                            required: true,
                            input_html: { autocomplete: "first name" } %>
                <%= f.input :last_name,
                            required: true,
                            input_html: { autocomplete: "last name" } %>
                <%= f.input :photo,
                            as: :file,
                            required: true,
                            hint: "Leave it blank if you don't want to change it.",
                            input_html: { autocomplete: "photo" } %>
                <div class="mb-3" data-controller="hidden-field">
                  <p class="form-label mt-4 mb-4">Home base: <span class="bold-text"><%= resource.city.flag %> <%= resource.city.name.split(",").first %>,<%= resource.city.name.split(",").last %></span> <i class="fa-solid fa-pen-to-square ml-5" data-action="click->hidden-field#display"></i><p>
                  <div class="hidden-field-fields d-none" data-hidden-field-target="field">
                  <%= f.input :location,
                              label: "New home base",
                              required: true,
                              input_html: {data: {city_autocomplete_target: "address"}, class: "d-none"},
                              wrapper_html: {data: {controller: "city-autocomplete", city_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}, class: "form-control" %>
                  </div>
                </div>
                <%= f.input :department,
                            required: true,
                            collection: ["Administrative", "Community & Advocacy", "Customer Success & Support", "Data Science", "Engineering", "Finance & Accounting", "HR & Talent", "IT", "Legal", "Marketing & Comms", "Operations", "Other", "Product & Design", "Sales & Growth"],
                            input_html: { autocomplete: "department" },
                            selected: resource.department %>
                <%= f.input :job_title,
                            required: true,
                            input_html: { autocomplete: "job_title" } %>
                <%= f.input :open_to, as: :check_boxes, collection: ["ðŸ’» Working together or side-by-side", "ðŸ’¡ Brainstorming", "ðŸ¥ Breakfast", "ðŸ’¬ Casual chat", "â˜• Coffee", "ðŸ» Drinks", "ðŸ² Lunch & Dinner", "ðŸ¤ Networking at events", "ðŸª‚ Weekend Activity", "ðŸƒ Sports"],
                            include_hidden: false,
                            input_html: { class: "tag-selector" },
                            item_wrapper_class: 'tag-item' %>
                <%= f.input :slack_user,
                            required: true,
                            input_html: { autocomplete: "slack user" },
                            hint: "Here is how to <a href='https://slack.com/intl/en-gb/help/articles/360003827751-Create-a-link-to-a-members-profile-'>find it</a>".html_safe %>
                <%= f.input :linkedin,
                            required: false,
                            input_html: { autocomplete: "linkedin" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Update", class: "btn-pink mt-3" %>
              </div>
            <% end %>

          <div class="cancel">
            <h3>Cancel my account</h3>
            <p>Unhappy? <%= link_to "Cancel my account", user_registration_path(resource), method: :delete, data: { confirm: "Are you sure?" }, class: "info-support", alert: "Your profile has been deleted." %></p>
          </div>

          <%= link_to "Back to profile", :back, class: "btn-outline mb-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
