<title><%= content_for(:title) ? "#{content_for(:title)} - remost" : "remost | Welcome!" %></title>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-5">
      <div class="form-signup new-user">
        <h2 class="mt-5 mb-4 text-center">Welcome to <%= @company.name %> Workspace</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, company_code: params[:company_code], email: params[:email]), data: {turbo: false}) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <%= f.input :email,
                        required: true,
                        placeholder: 'Email',
                        readonly: true,
                        input_html: { autocomplete: "email", value: params[:email] }%>
            <%= f.input :password,
                        required: true,
                        placeholder: 'Password',
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        placeholder: 'Password confirmation',
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :first_name,
                        required: true,
                        placeholder: 'ex: Luke',
                        input_html: { autocomplete: "first name" } %>
            <%= f.input :last_name,
                        required: true,
                        placeholder: 'Skywalker',
                        input_html: { autocomplete: "last name" } %>
            <%= f.input :photo,
                        as: :file,
                        required: true,
                        input_html: { autocomplete: "photo" } %>
            <%= f.input :location,
                        required: true,
                        input_html: {data: {city_autocomplete_target: "address"}, class: "d-none"},
                        wrapper_html: {data: {controller: "city-autocomplete", city_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}, class: "form-control" %>
            <%= f.input :department,
                        required: true,
                        collection: ["Administrative", "Community & Advocacy", "Customer Success & Support", "Data Science", "Engineering", "Finance & Accounting", "HR & Talent", "IT", "Legal", "Marketing & Comms", "Operations", "Other", "Product & Design", "Sales & Growth"],
                        input_html: { autocomplete: "department" } %>
            <%= f.input :job_title,
                        required: true,
                        input_html: { autocomplete: "job_title" } %>
            <%= f.input :open_to, as: :check_boxes, collection: ["ðŸ’» Working together or side-by-side", "ðŸ’¡ Brainstorming", "ðŸ¥ Breakfast", "ðŸ’¬ Casual chat", "â˜• Coffee", "ðŸ» Drinks", "ðŸ² Lunch & Dinner", "ðŸ¤ Networking at events", "ðŸª‚ Weekend Activity", "ðŸƒ Sports"],
                        include_hidden: false,
                        required: true,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item' %>
            <%= f.input :slack_user,
                        required: true,
                        input_html: { autocomplete: "slack_user" } %>
            <%= link_to "https://slack.com/intl/en-gb/help/articles/360003827751-Create-a-link-to-a-members-profile-", target: :_blank, class: "info-support" do %>
              <p class="support">Here is how to find it.</p>
            <% end %>
            <%= f.input :linkedin,
                        required: false,
                        placeholder: "ex: https://www.linkedin.com/in/vancityreynolds/",
                        input_html: { autocomplete: "linkedin" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn-pink mt-3" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
