<div class="container">
  <h1 class="mt-5 mb-5">My Saved Places</h1>
  <% if @bookmarked_places_cities != [] %>
    <p>Here are the reviews you've bookmarked.</p>
    <div class="row mt-5">
    <% @bookmarked_places_cities.each do |c| %>
      <p class="city-category" id=<%= c["name"] %>></a><%= link_to c["name"], city_path(c["id"]) %></p>
      <% @bookmarked_places.select { |bk| bk.place.city.name == c["name"] }.each do |b| %>
        <div class="col-lg-4">
          <div class="tip-card">
              <div class="tip-card-top">
                <div class="place-name-box"><%= b.place.name %> <span title=<%= b.place.category.split[1] %>><%= b.place.category.split[0] %></span></div>
                <% if current_user == b.user %>
                  <%= link_to bookmarked_place_unfavourite_path(b.place), data: { bookmarktip_target: "unfav", action: 'click->bookmarktip#unfav'}, class: "tip-card-icon-pen" do %>
                    <span title="Edit your tip"><i class="fa-solid fa-pen-to-square"></i></span>
                  <% end %><% end %>
                <%= link_to "https://www.google.com/maps/search/#{b.place.location}", target: :_blank, class: "tip-card-icon-address" do %>
                  <span title="See in Google Maps"><i class="fa-solid fa-map-location-dot"></i></span>
                <% end %>
                <%= link_to bookmarked_place_unfavourite_path(b), data: {turbo_method: :unfavourite, turbo_confirm: "Are you sure you want to remove it from your saved places for #{b.place.city.name}?"}, class: "tip-card-icon-bin" do %>
                  <span title="Unsave"><i class="fa-solid fa-heart-circle-minus"></i></span>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% else %>
    <p>You haven't bookmarked any of your teammates' reviews. You can find them by clicking on the icons which are on each city map.</p>
  <% end %>
</div>
