<div class="container">
  <h1 class="mt-5 mb-5">My Tips</h1>
  <div class="row">
    <% @bookmarked_places.each do |b| %>
      <div class="col-lg-6">
        <div class="trip-card">
        <%# <%= cl_image_tag @city.photo.key %> %>
          <div class="trip-card-infos">
            <div class="trip-card-infos-tip">
              <h2><%= b.tip.name %></h2>
              <p class="mb-3"><%= b.tip.category %></p>
              <p><%= b.tip.content %></p>
            </div>
            <%= link_to "<i class='fa-solid fa-trash-can'></i>".html_safe,   tip_bookmarked_places_path(b), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "card-delete" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
