<div class="container">
  <h1 class="mt-5 mb-5">My Saved Places</h1>
  <p>Here are all the recommendations from your colleagues that you've bookmarked.</p>

  <%# <div class="filters mt-4">
    <%= form_with url: bookmarked_places_path, method: :get, class: "d-flex mb-5" do |f| %>
      <%# <%= f.select :city, City.all.collect { |c| [ c.name ] }, class: "custom-select", selected: params[:city], include_blank: "city" %> %>
      <%# <%= f.select :category, ['💻 Coworking','🍽️ Restaurant','☕️ Café','🍹 Bar','🎾 Sports','🎭 Cultural','🎨 Art','🛐 Worship','🌆 Sight','🛡️ Safety','ℹ️ Other' ], class: "custom-select", selected: params[:category], include_blank: "category" %> %>
      <%# <%= f.select :user, User.all.collect { |user| [ user.first_name ] }, class: "custom-select", selected: params[:user], include_blank: "user" %> %>
      <%# <%= f.select :rating, ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"], class: "custom-select", selected: params[:rating], include_blank: "rating" %> %>
      <%# <%= submit_tag "Search", class: "btn btn-dark rounded-0" %> %>
    <%# <% end %> %>
  </div> %>

  <div class="row mt-5">
    <% @bookmarked_places.each do |b| %>
      <div class="col-lg-4">
        <div class="tip-card">
            <div class="tip-card-top">
              <h3><span id="place-name"><%= b.tip.name %> <%= b.tip.category.split("")[0] %></span></h3>
              <%= link_to "https://www.google.co.uk/maps/search/#{b.tip.location}", target: :_blank, class: "tip-card-icon-address" do %>
                <i class="fa-solid fa-route"></i>
              <% end %>
              <%= link_to bookmarked_place_unfavourite_path(b), data: {turbo_method: :unfavourite, turbo_confirm: "Are you sure you want to remove it from your saved tips for #{b.tip.city.name}?"}, class: "tip-card-icon-bin" do %>
                <i class="fa-solid fa-heart-circle-minus"></i>
              <% end %>
            </div>
            <p><%= cl_image_tag b.tip.user.photo.key, class: "avatar-small" %><strong><%= link_to b.tip.user.first_name, user_path(b.tip.user.id), class: "author-name" %></strong> ● <%= b.tip.rating %>/10 ● <span class="tip-card-content"><%= b.tip.content %></span></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
