<div class='container'>

  <div class = 'profile-card-1'>
    <div class='row'>
      <div class="col-lg-3">
        <%= cl_image_tag @user.photo.key, class:'pic' %>
      </div>
      <div class="col-lg-9">
        <p><%= @user.first_name @user.last_name %></p>
        <p><i class="fa-brands fa-slack"></i><%= @user.linkedin_username %></p>
        <p><i class="fa-brands fa-linkedin"></i><%= @user.slack_username %></p>
        <p><i class="fa-solid fa-envelope"></i><%= @user.email %></p>
      </div>
    </div>
  </div>

  <div class = 'profile-card-2'>
    <div class="col-lg-6">
      <p><%= @user.department %></p>
      <p><%= @user.location %></p>
    </div>

    <div class="col-lg-6">
      <p><%= @user.job_title %></p>
      <p><%= @user.language %></p>
    </div>

    <div class="col-lg-12">
      <p><%= @user.open_to %></p>
    </div>
  </div>

</div>
