<title><%= content_for(:title) ? "#{content_for(:title)} - Remost" : "ReMost | #{@user.first_name} #{@user.last_name}‘s profile" %></title>

<div class='container'>

<div class="mt-5 mb-3 users-index-h1">
<h3><%= @user.first_name %> <%= @user.last_name %></h3>
<%= link_to "Back to the map", cities_path, class: "btn btn-outline-dark" %>
</div>

</div>

<div class='container'>

<div class='row'>
  <div class = 'profile-card-1'>
  <div class = 'photo-card'>
    <%= cl_image_tag @user.photo.key, class: "photo-big" %>
    <p></p>
    <p></p>
    <p> <strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
    <ul><%= @user.job_title %></ul>
  </div>
  </div>

  <div class = 'profile-card-2'>
    <div class = "col-lg-12">
      <ul><strong>Department:</strong>  <%= @user.department %></ul>
      <ul><strong>Based in:</strong>  <%= @user.city.name %></ul>

      <% lang_array = JSON.parse(@user.languages) %>
      <ul><strong>Languages:</strong>
      <% lang_array.each do |lang| %>
        <li><%= lang %></li>
      <% end %>
      </ul>

      <% open_to_array = JSON.parse(@user.open_to) %>
      <ul><strong>Open to:</strong>
      <% open_to_array.each do |open| %>
        <li><%= open %></li>
      <% end %>
      </ul>
    </div>
</div>

<div class="profile-card-3">
 <p> <strong>Contact with <%= @user.first_name %></strong></p>
  <p class="btn-link">
    <%= link_to @slack, target: :_blank do %>
      <i class="fa-brands fa-slack fa-2xl" btn-link></i>
    <% end %>
  </p>
  <p class="btn-link">
    <%= link_to @email, target: :_blank do %>
      <i class="fa-solid fa-envelope fa-2xl" > </i>
    <% end %>
  </p>
  <p class="btn-link">
    <%= link_to @linkedin, target: :_blank do %>
      <i class="fa-brands fa-linkedin fa-2xl"> </i>
    <% end %>
  </p>
</div>
</div>
