<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
       <a href="/cities" class="navbar-brand logo-text"><%= image_tag("brand-name.png", id: "brand-name-image") %></a>
       <div class="d-flex align-items-center">
       <% if params[:controller] == "cities" && params[:action] == "show" %>
            <p>Meet your colleagues in <span><%= @city.name %></span></p>
            <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a recommendation</button>
        <% end %>
       </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'Add a trip', new_trip_path, class:"btn-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "My Trips", trips_path, class: "dropdown-item" %>
              <%= link_to "My Teammates", users_path, class: "dropdown-item" %>
              <%= link_to "My Saved Places", bookmarked_places_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
