<title><%= content_for(:title) ? "#{content_for(:title)} - remost" : "remost | Make the most out of remote!" %></title>

<% if user_signed_in? %>

  <div class="banner">
    <div class="container">
      <div class="homepage-text">
          <h1>Get the most from remote working</h1>
          <p class="mb-2">Meet your coworkers from <%= current_user.company.name %> in <span data-controller="typed-js"></span>
          <div>
            <p><span><%= @teammates.count %></span> teammates | <span><%= @cities.count %></span> cities | <span><%= @trips.count %></span> upcoming trips  </p>
          </div>
          <%= link_to "Explore", cities_path, class: "btn btn-dark btn-lg" %>
      </div>
    </div>
  </div>


<% else %>

  <div class="banner">
    <div class="container">
      <div class="homepage-text">
          <h1 class="primary-title">Connect with your teammates all around the world.</h1>
          <h5 class="secondary-title">Face-to-face time is precious, especially for remote teams. Find teammates to meet up with during your next trip.</h5>
          <%= link_to "Sign up", cities_path, class: "btn btn-dark btn-lg" %>
      </div>
    </div>
  </div>

  <div class="section1">
    <h2 class="section-title">Who is this for?</h2>
    <div class="row">
      <div class="column1 col-lg">
        <h5 class="section-subtitle">For fully distributed teams</h5>
        <div class="image-box">
          <img src="<%= asset_path('hp-img1.svg') %>">

        </div>
        <p>Ideal for remote-first or remote-only companies between 50 and 1000+ people.</p>
      </div>
      <div class="column2 col-lg">
        <h5 class="section-subtitle">For mobile coworkers</h5>
        <div class="image-box">
          <img src="<%= asset_path('hp-img2.svg') %>">
        </div>
        <p>The more your team travels for work or leisure, the more face-to-face time can be organised.</p>
      </div>
      <div class="column3 col-lg">
        <h5 class="section-subtitle">For founders & HR teams</h5>
        <div class="image-box">
          <img src="<%= asset_path('hp-img3.svg') %>">
        </div>
        <p>Make it easier for your team members to meet and connect in person in-between offsites.</p>
      </div>
    </div>
  </div>

  <div class="section2">
    <h2 class="section-title">What can I do with it?</h2>
    <div class="row">
      <div class="sub-section1 col-lg">
        <div class="image-box2 col-3">
          <img src="<%= asset_path('hp-img4.svg') %>">
        </div>
        <p class="col-8">See <span class="bold">where your teammates are</span> in the world & where they'll travel to - without having to message everyone to know "who'll be in NYC next week."</p>
      </div>
      <div class="sub-section2 col-lg">
        <p class="col-8"><span class="bold">Log your business & personal trips</span> - if you feel like it - & update your own trip timeline. Share what you're up for: coffee, working together, sports etc.</p>
        <div class="image-box2 col-3">
          <img src="<%= asset_path('hp-img5.svg') %>">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sub-section3 col-lg">
        <div class="image-box2 col-3">
          <img src="<%= asset_path('hp-img6.svg') %>">
        </div>
        <p class="col-8">Get in touch with your coworkers - locals or travelling - to grab coffee. <span class="bold">Meet new people in your team</span> by saying hello when you're around.</p>
      </div>
      <div class="sub-section4 col-lg">
        <p class="col-8"><span class="bold">Leave reviews about places you loved</span> for your team to try. Find the best coworking space & lunch place without reading hundreds of questionable public reviews.</p>
        <div class="image-box2 col-3">
          <img src="<%= asset_path('hp-img7.svg') %>">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sub-section5 col-lg">
        <div class="image-box2 col-3">
          <img src="<%= asset_path('hp-img8.svg') %>">
        </div>
        <p class="col-8"><span class="bold">HR teams</span>: assess the carbon footprint of your team and make it a perk to offset it. Improve employee wellbeing & talent retention.</p>
      </div>
      <div class="sub-section6 col-lg">
        <p class="col-8"><span class="bold">HR teams</span>: get a closer knit team and incentivise employees who meet outside of offsites - let them organise their own meetups! </p>
        <div class="image-box2 col-3">
          <img src="<%= asset_path('hp-img9.svg') %>">
        </div>
      </div>
    </div>
  </div>


  <div class="section2B">
    <h2 class="section-title">Is Remost a good fit for my company?</h2>
    <div class="row">
      <div class="container col-5">
        <h3>🙅‍♀️ You're not going to enjoy it if:</h3>
        <ul>
          <li>🕵️‍♂️ you want to <span class="bold">track your employees</span> for <span class="bold">tax or discipline purposes</span></li>
          <li>🎯 you want to know your employees' <span class="bold">exact location</span> (i.e. more precisely than at city level)</li>
          <li>🏠 your team mostly works from one office and/or <span class="bold">travels rarely</span></li>
          <li>😠 your company <span class="bold">doesn't encourage temporary mobility</span> or it's frowned upon</li>
          <li>🐥 you're a team of <span class="bold">1-40 people</span></li>
          <li>🤐 your coworkers are very <span class="bold">uncomfortable with sharing any personal information</span> with each other</li>
        </ul>
      </div>
      <div class="container col-5">
        <h3>😍 You will love it if:</h3>
        <ul>
          <li>☕ you want your employees to have the <span class="bold">opportunity to meet each other on their own terms</span> between company offsites</li>
          <li>🚅 your team <span class="bold">travels a lot</span> for business or leisure</li>
          <li>😪 your team has raised that they <span class="bold">felt lonely working from home</span></li>
          <li>👋 you have several offices around the world and your employees <span class="bold">frequently visit other campuses</span></li>
          <li>🤔 your coworkers always <span class="bold">ask for recommendations of places to go to</span> in other cities/countries</li>
          <li>💚 you want to <span class="bold">offset your employees' carbon footprint</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section3">
    <h2 class="section-title">How is Remost different?</h2>
    <div class="row">
      <div class="container col-5">
        <p>It's not Google Maps... but it does enable you to see where people and places are. And it will show you where they WILL be!</p>
        <p>It's not LinkedIn... but it does make it easier to suggest grabbing a coffee together. And it will help you find out if lunch or drinks would be better!</p>
        <p>It's not Slack... but it does enable you to find out who'll be in the same place without having to post in 'General'. And it lets other find you too!</p>
        <p>It's not TripAdvisor or Google Reviews... but it does help you find some amazing places. And you can ask the coworker who wrote it for more info!</p>
      </div>
      <div class="image-box3 col-5">
        <img src="<%= asset_path('hp-img10.svg') %>">
      </div>
    </div>
  </div>

  <div class="section4">
    <div class="row photo-columns">
      <div class="photo-column col-2">
        <img class="img-1" src="<%= asset_path('hp-photo-moz1.jpeg') %>">
        <img class="img-2" src="<%= asset_path('hp-photo-moz2.jpeg') %>">
        <%# <img class="img-1" src="https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1415&q=80"> %>
        <%# <img class="img-2" src="https://images.unsplash.com/photo-1585399090149-de01d4c28e70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80"> %>
      </div>
      <div class="photo-column col-2">
        <img class="img-3" src="<%= asset_path('hp-photo-moz3.jpeg') %>">
        <img class="img-4" src="<%= asset_path('hp-photo-moz4.jpeg') %>">
        <%# <img class="img-3" src="https://images.unsplash.com/photo-1504150558240-0b4fd8946624?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80">
        <img class="img-4" src="https://images.unsplash.com/photo-1614636006346-d3fb453b9901?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2763&q=80"> %>
      </div>
      <div class="photo-column col-2">
        <img class="img-5" src="<%= asset_path('hp-photo-moz5.jpeg') %>">
        <img class="img-6" src="<%= asset_path('hp-photo-moz6.jpeg') %>">
        <%# <img class="img-5" src="https://images.unsplash.com/photo-1603731125936-1c28b35b1659?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2805&q=80">
        <img class="img-6" src="https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"> %>
      </div>
      <div class="photo-column col-2">
        <img class="img-7" src="<%= asset_path('hp-photo-moz7.jpeg') %>">
        <%# <img class="img-7" src="https://images.unsplash.com/photo-1599792092050-63b1834bb89f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"> %>
      </div>
      <div class="photo-column col-2">
        <img class="img-8" src="<%= asset_path('hp-photo-moz8.jpeg') %>">
        <img class="img-9" src="<%= asset_path('hp-photo-moz9.jpeg') %>">
        <img class="img-10" src="<%= asset_path('hp-photo-moz10.jpeg') %>">
        <%# <img class="img-8" src="https://images.unsplash.com/photo-1552288092-76e7d732366c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2771&q=80">
        <img class="img-9" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        <img class="img-10" src="https://images.unsplash.com/photo-1414694762283-acccc27bca85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2867&q=80"> %>
      </div>
    </div>
  </div>

  <div class="section5">
    <h2 class="section-title">The Remost Team</h2>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <p>We're 3, we're international, we sort of know how to code, and we'd love for remote teams to get the best of both worlds: the freedom of a digital nomad's life and the human touch of an office's watercooler area.</p>
      </div>
      <div class="col-3"></div>
    </div>
  </div>

<% end %>



<div style="background-color: white;">
  <i class=“fa-solid fa-masks-theater”></i>
  <i class=“fa-solid fa-plate-utensils”></i>
  <i class=“fa-solid fa-briefcase”></i>
  <i class=“fa-solid fa-person-praying”></i>
  <i class=“fa-solid fa-wine-glass”></i>
  <i class=“fa-solid fa-palette”></i>
  <i class=“fa-solid fa-tennis-ball”></i>
  <i class=“fa-solid fa-tennis-ball”></i>
</div>


<div class="footer">
  <div class="row footer-content">
    <div class="col-lg-4 footer-div">
    <%# <h5 class="mb-3">ABOUT US</h5> %>
      <a class="footer-link" href="#">Home</a>
      <a class="footer-link" href="#">About</a>
      <a class="footer-link" href="#">Contact</a>
    </div>

    <div class="col-lg-4 footer-div">
    <%# <p>© 2022 remost</p> %>
    <a class="footer-link" href="#">Privacy</a>
    <a class="footer-link" href="#">Terms</a>
     <a class="footer-link" href="#">Cookies Contents</a>
    </div>


  <div class="col-lg-4 footer-div">
    <h3 class="mb-3">remost</h3>
    <div class="footer-links">
      <a href="mailto:remost.team@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://www.linkedin.com/company/remost-app"><i class="fab fa-linkedin"></i></a>
    </div>
    </div>
  </div>
</div>
