<div class="people-window">
<%= link_to city.name.split(",").first + ".", city_path(city, date: params[:date]), class: "link-underline-effect" %>
<ul class="people-list">
  <% city_people.each do |person| %>
    <li class="person">
      <%= cl_image_tag person.photo.key, class: "avatar-small" %>
      <%= link_to(user_path(person)) do %>
        <% if (person.first_name + person.last_name).length < 17 %>
          <%= person.first_name %> <%= person.last_name %>
        <% else %>
          <%= person.first_name %> <%= person.last_name.first %>.
        <% end %>
      <% end %>
      <% if person.city.name == city.name %>
        <span title="City local"><i class="fa-solid fa-house-chimney"></i></span>
      <% end %>
    </li>
  <% end %>
</ul>
</div>
