<div class="tip-window" data-controller="bookmarktip" data-user="<%= current_user.id %>">
  <h4 class="tip-name"> <%= place.name %> </h4>
  <p class="tip-icons"><span class="tip-category"%><%= place.category %></span>
    <%= link_to "https://www.google.com/maps/search/#{place.location}", target: :_blank do %>
      <span title="See in Google Maps"><i class="fa-solid fa-map-location-dot"></i></span>
    <% end %>
  </p>

  <p class="tip-content">
    <% tips.each do |tip| %>
      <%= link_to user_path(tip.user.id), target: :_blank do %></p>
        <span title="See author's profile"><%= cl_image_tag tip.user.photo.key, class: "avatar-tiny" %></span>
      <% end %>
      <p><%= tip.content %></p>
    <% end %>
  </p>
</div>
