<div class="tip-window" data-controller="bookmarktip" data-user="<%= current_user.id %>">
  <h4 class="tip-name"> <%= tip.name %> </h4>
  <p class="tip-icons"><span class="tip-category"><%= tip.category %></span>
    <%= link_to "https://www.google.com/maps/search/#{tip.location}", target: :_blank do %>
      <i class="fa-solid fa-route"></i>
    <% end %>
    <% if current_user.bookmarked_tip?(tip) %>
      <%= link_to  bookmarked_place_unfavourite_path(current_user.bookmarked_places.where(tip_id: tip.id).first), data: {bookmarktip_target: "unfav", action: 'click->bookmarktip#unfav'} do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
      <%= link_to tip_favourite_path(tip), data: {bookmarktip_target: "fav", action: "click->bookmarktip#fav"}, class:"d-none" do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to "/bookmarked_places/id/unfavourite", data: {bookmarktip_target: "unfav", action: 'click->bookmarktip#unfav'}, class:"d-none" do %>
        <i class="fa-solid fa-heart"></i>
      <% end %>
      <%= link_to tip_favourite_path(tip), data: {bookmarktip_target: "fav", action: "click->bookmarktip#fav"} do %>
        <i class="fa-regular fa-heart"></i>
      <% end %>
    <% end %>
    <% if current_user == tip.user %>
    <%= link_to bookmarked_place_unfavourite_path(tip), data: { bookmarktip_target: "unfav", action: 'click->bookmarktip#unfav'} do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  <% end %>
  </p>

  <p class="tip-content">
    <%= link_to user_path(tip.user.id), target: :_blank do %></p>
      <%= cl_image_tag tip.user.photo.key, class: "avatar-tiny" %>
    <% end %>
    <%= tip.content %>
  </p>





</div>
